/*

Title: Stylesheet Template

Author: Maurice van Cooten

*/

body {
	background: #eeeeee;
	font-size: 16px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin:0;
}

a {
	color:crimson;
	text-decoration:none;
}

a:hover {
	color:red;
}

/* Layout
------------------------------------------*/

header,
.container,
footer {
	margin: 0 auto;
	width:88%;
	max-width: 960px;
}

.wrapper {
	padding:1em 0;
	background: #ffffff;	
}

/* Flex Alignment
------------------------------------------*/
img {
	display:block;
	max-width: 100%;
	height:auto;
}

ul {
	padding:0;
	list-style: none;
	background:pink;
}

.gallery {
	display:flex;
	justify-content:flex-end;
	flex-wrap:wrap; /*pushes images underneath when shrunk*/
}

.gallery2 {
	display:flex;
	justify-content:center;
}

.gallery3 {
	display:flex;
	justify-content:space-between;
}

.gallery4 {
	display:flex;
	justify-content:space-around;
}